$def with ()


<div class="menu">
    <ul>
        <li><a href="/" >首页</a></li>
        <li><a href="/events" >生平年表</a></li>
        <li><a href="/articles" >冬冬文集</a></li>
        <li><a href="/photos" >冬冬照片</a></li>
        <li><a href="/vedios" >冬冬视频</a></li>
        <li><a href="/memories" >追忆文章</a></li>
        <li><a href="/words" >友人留言</a></li>
        
    </ul>
</div>

<div class="head">
    <h1>严冬冬</h1>
    <h2>1984.11.16 - 2012.07.09</h2>
    <h2>自由登山者，自由职业翻译</h2>
</div>




<div>


<p>
由冬冬翻译的黑暗物质三部曲第一部《黄金罗盘》已印制完毕。经清华大学登山队记念冬冬协调小组的协商，决定向冬冬的朋友们免费赠送此书，以此记住冬冬。
</p>


<div class="activity-img">
<a class="none" href="/static/img/activity1.jpg"><img src="/static/img/activity1-p.jpg"></a>
<a class="none" href="/static/img/activity2.jpg"><img src="/static/img/activity2-p.jpg"></a>
<a class="none" href="/static/img/activity3.jpg"><img src="/static/img/activity3-p.jpg"></a>
</div>

<p>
图书成品由两本书和6个书签组成，塑封成一体。<span class="green">两本书的内容完全一样，仅封面设计不同。</span>
总共印制2000本，即1000套书，数量有限。<br>
</p>

<p>
如有意收藏此书，可发邮件至<a class="email" >zhuang_hq@163.com</a>，并请在标题注明索取冬冬样书。
</p>

<div class="activity">
<ul>
<li> 
索取样书注意事项如下：</li>
<li>
（1） 所有有意收藏此图书的冬冬的朋友，均可以来信索取此书，因数量有限，每人限两套；
</li>
<li>
（2） 图书为免费赠送，并采取快递形式寄出，由于资金受限，快递费用采取到付形式，由收书人支付；
</li>
<li>
（3） 因工作原因，无法保证随时邮寄，但保证每周或者每两周快递一次；
</li>
<li>
（4） 您提供的快递地址务必详细，必须包括收件人、收件地址、邮编、手机号及索要套数。
</li>
<li>
（5） 如果想一个地址解决多人问题，我们欢迎，但必须写明都是哪些冬冬的朋友所要，具体原因请见第（1）条。
</li>
</ul>
</div>

<p>
感谢清华大学登山队严冬冬纪念基金提供的资金资助，感谢那些在本书出版过程中提供帮助的朋友们，感谢Philip Pullman写了一本冬冬喜欢的书，感谢冬冬又为我们提供了一本好书，最后也感谢为记住冬冬所做的所有努力。
</p>


<div class="activity">

<p>
最后再做如下声明：<br/>
本书的翻译纯为爱好者的兴趣之作，目的完全在于交流。<br/>
本书的印刷只是为了记念冬冬，记住冬冬对本书的爱和执着。<br/>
本书并未取得出版商或原作者同意，请任何组织或个人不要将本书任何部分用作商业用途！<br>
</p>
<p>
如果你也深爱着莱拉和威尔，瑟拉菲娜和伊欧雷克，还有他们的世界，请购买正版。<br/>
英文版：The Golden Compass，Philip Pullman，New York Random House-Laurel Leaf，1995<br/>
中文版：黄金罗盘，[英]普尔曼著，周景兴译，上海译文出版社，2008<br/>
</p>

</div>

</div>

