$def with (page)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
  <link rel="stylesheet" type="text/css" href="/static/css/pure-grids-min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<title>严冬冬</title>
    <meta name="description" content="自由登山者，自由职业翻译。要跟他保持连接的方法也很简单，就是记住，remember，就这样简单。 不需要做任何形式的东西，或者至少不需要刻意去做。 但是你心里记住这个人，他的影响就不会那么容易散掉。">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50854934-1', 'vstarloss.org');
  ga('send', 'pageview');

</script>
</head>

<body>
   <div class="shelf">

         $:page


        <div class="foot">
            任何与本网站相关事宜，敬请联系 Remembering.dongdong@gmail.com
        </div>
    <div>
</body>
</html>
