$def with (page)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<link rel="stylesheet" type="text/css" href="/static/css/style1121.css" />
	<title>严冬冬</title>
</head>

<body>
   <div class="shelf">

         $:page


        <div class="foot">
            任何与本网站相关事宜，敬请联系 Remembering.dongdong@gmail.com
        </div>
    <div>
</html>
