$def with ()

        <div class="menu">
            <ul>
                <li><a href="/" >首页</a></li>
                <li><a class="selected" href="/events" >生平年表</a></li>
                <li><a href="/articles" >冬冬文集</a></li>
                <li><a href="/photos" >冬冬照片</a></li>
                <li><a href="/vedios" >冬冬视频</a></li>
                <li><a href="/memories" >追忆文章</a></li>
                <li><a href="/words" >友人留言</a></li>
            </ul>
        </div>

        <div class="head">
            <h1>严冬冬</h1>
            <h2>1984.11.16 - 2012.07.09</h2>
            <h2>自由登山者，自由职业翻译</h2>
        </div>

<hr />

<p>严冬冬（1984年11月16日－2012年7月9日），中国一名自由登山者，自由职业翻译。</p>
<p>他出生于辽宁省鞍山市，2001年以鞍山市理科状元身份考入清华大学生命科学与技术系。2002年3月加入清华大学学生山野协会，曾任攀登队长。2005年毕业后仍以技术指导身份随清华登山队攀登雪山。</p>
<p>2008年5月8日北京奥运圣火珠峰传递过程中，严冬冬作为登山队后援队员随队登顶，成为首位成功登顶珠穆朗玛峰的清华大学学生。自2009年起，他开辟了幺妹峰中央南壁“自由之魂”等一系列新路线。2009年、2010年、2011年他连续获得中国户外金犀牛奖最佳攀登奖。</p>
<p>2012年7月9日，严冬冬在攀登新疆西天山却勒博斯峰下撤途中不幸罹难。</p>


<div class="intro">
<span>目录</span>
<hr>
<ul>
<li><a href="/events#1">1 主要攀登经历</a></li>
<li>&nbsp;  <a href="/events#11">1.1 在校期间户外活动</a></li>
<li>&nbsp;  <a href="/events#12">1.2 在校期间雪山攀登</a></li>
<li>&nbsp;  <a href="/events#13">1.3 毕业后的攀登活动</a></li>
<li>&nbsp;  <a href="/events#14">1.4 攀登获奖情况</a></li>
<li><a href="/events#2">2 翻译作品集</a></li>
<li><a href="/events#3">3 遇难</a></li>
</ul>
</div>

<hr id="1">
<h2 id="11">主要攀登经历</h2>
<h3>在校期间户外活动</h3>
<table class="events" >
<tr><td>2002年3月某周四   </td><td>    冬冬经由同班同学介绍，于三教3303填写报名表，加入山野协会</td></tr>
<tr><td>2002年4月21日     </td><td>    清华大学户外技能大赛</td></tr>
<tr><td>2002年5月26日    </td><td>     鹫峰-阳台山-妙峰山拉练</td></tr>
<tr><td>2002年5月3-6日    </td><td>    黄华城-慕田峪穿越</td></tr>
<tr><td>2002年6月1日      </td><td>    凤凰岭-阳台山拉练</td></tr>
<tr><td>2002年6月16日     </td><td>    香山拉练</td></tr>
<tr><td>2002年9月21-22日     </td><td> 后山铺-冷风甸-黑龙秘径穿越</td></tr>
<tr><td>2002年10月1-3日  </td><td>     小五台东-中-西台穿越</td></tr>
<tr><td>2002年12月11日      </td><td>  体育代表队响箭晚会，在登山队小品《取经新编》中扮演唐僧</td></tr>
<tr><td>2003年1月18日-1月19日 </td><td>中国登协技术培训</td></tr>
<tr><td>2003年2月10-14日   </td><td>   小五台雪山模拟</td></tr>
<tr><td>2003年3月7-9日     </td><td>   京东第一瀑-冷风甸-云蒙山公园探路</td></tr>
<tr><td>2003年3月15-16日    </td><td>  云蒙山对穿</td></tr>
<tr><td>2003年3月29-30日   </td><td>   黑坨山探路</td></tr>
<tr><td>2003年4月6日    </td><td>      鹫峰-阳台山拉练</td></tr>
<tr><td>2003年9月21日     </td><td>    鹫峰-阳台山穿越</td></tr>
<tr><td>2003年9月28-30日 </td><td>     德清莫干山登山越野赛</td></tr>
<tr><td>2003年10月5-6日    </td><td>   京东第一瀑-北石城穿越</td></tr>
<tr><td>2003年10月19日     </td><td>   2003北京国际马拉松赛</td></tr>
<tr><td>2003年10月25-26    </td><td>   峥嵘鸟登山节</td></tr>
<tr><td>2003年11月1-2日    </td><td>   西龙门涧-灵山穿越</td></tr>
<tr><td>2003年11月8-9日    </td><td>   百花山联合野营</td></tr>
<tr><td>2003年11月16日     </td><td>   香山-清华公路夜跑庆生</td></tr>
<tr><td>2003年11月23-24日  </td><td>   水泉峪-黑龙密径探路</td></tr>
<tr><td>2003年12月        </td><td>    登协技术培训</td></tr>
<tr><td>2003年12月5-7日   </td><td>    小五台南中西穿越</td></tr>
<tr><td>2004年1月8-10日    </td><td>   冬训攀冰第二批</td></tr>
<tr><td>2004年1月10日-1月12日 </td><td>攀冰第三批</td></tr>
<tr><td>2004年1月13日-1月15日 </td><td>小五台西沟上中东山脊探路</td></tr>
<tr><td>2004年1月19日-1月23日 </td><td>寒假中的自觉锻炼</td></tr>
<tr><td>2004年2月11日-2月14日 </td><td>雪山模拟第一批</td></tr>
<tr><td>2004年2月17日-2月20日 </td><td>雪山模拟第二批</td></tr>
<tr><td>2004年3月6日    </td><td>      鹫峰-阳台山拉练</td></tr>
<tr><td>2004年3月7日     </td><td>     野外部香山训练+探路</td></tr>
<tr><td>2004年3月13日      </td><td>   太舟坞-望京亭-快活林拉练</td></tr>
<tr><td>2004年4月10日       </td><td>  海陀拉练</td></tr>
<tr><td>2004年4月24-25日    </td><td>  小五台探路</td></tr>
<tr><td>2004年5月4-7日     </td><td>   小五台北东中西穿越</td></tr>
<tr><td>2004年5月15日     </td><td>    妙峰山负重拉练</td></tr>
<tr><td>2004年9月26日     </td><td>    迎新拉练</td></tr>
<tr><td>2004年10月23日    </td><td>    第四届清华大学校园攀岩赛</td></tr>
<tr><td>2004年11月14日    </td><td>    狼儿峪-阳台山拉练</td></tr>
<tr><td>2004年12月3-5日   </td><td>    云蒙山探路、</td></tr>
<tr><td>2004年12月17-19日   </td><td>  冬季小五台-南中西穿越</td></tr>
<tr><td>2005年1月14-16日   </td><td>   攀冰第一批</td></tr>
<tr><td>2005年1月16-18日  </td><td>    攀冰第二批</td></tr>
<tr><td>2005年1月25-27日   </td><td>   灵山雪山模拟第二批</td></tr>
<tr><td>2005年5月1-4日     </td><td>   小五台五台连穿</td></tr>
<tr><td>2005年9月24-25日    </td><td>  京津冀大学生狼牙山登山节</td></tr>
<tr><td>2005年10月22-23日  </td><td>   小五台中西沟-中台-中南沟探路</td></tr>
<tr><td>2005年11月12日     </td><td>   黄山国际登山节</td></tr>
<tr><td>2005年12月23-25日  </td><td>   攀冰训练</td></tr>
<tr><td>2005年12月30日-2006年1月2日 </td><td>  攀冰训练</td></tr>
<tr><td>2006年1月12-14日    </td><td>  冬训攀冰第一批</td></tr>
<tr><td>2006年1月14-16日   </td><td>   冬训攀冰第二批</td></tr>
<tr><td>2006年1月16-18日   </td><td>   冬训攀冰第三批</td></tr>
<tr><td>2006年2月12日      </td><td>   天仙瀑攀冰</td></tr>
<tr><td>2006年10月4-5日    </td><td>   白河攀岩</td></tr>
<tr><td>2006年12月29-31日   </td><td>  第零批攀冰技术指导</td></tr>
<tr><td>2007年1月26-28日    </td><td>  攀冰比赛</td></tr>
<tr><td>2009年1月14-16日    </td><td>  第一批攀冰技术指导</td></tr>
<tr><td>2009年1月16-18日    </td><td>  第二批攀冰技术指导</td></tr>
</table>

<hr id="12">
<h3>在校期间雪山攀登</h3>
<table class="events" >
<tr><td>2002年6月27日-8月5日</td><td> 清华大学西藏宁金抗沙峰登山队 </td><td>       前站队员 </td><td> 登至海拔6400米 </td></tr>
 <tr><td>2003年7月9日-7月29日  </td><td> 清华大学西藏桑丹康桑峰科考队   </td><td>     科考队员</td><td> </td></tr>
 <tr><td>2004年6月24日-7月17日   </td><td> 清华大学青海各拉丹东峰登山队      </td><td>  前站队员 </td><td> 登至海拔5900米</td></tr>
 <tr><td>2005年6月27日-7月13日 </td><td> 清华大学西藏念青唐古拉中央峰登山队 </td><td> 攀登队长 </td><td> 登至海拔7028米</td></tr>
 <tr><td>2006年6月21日-7月21日 </td><td> 清华大学四川雀儿山登山队 </td><td> 技术指导、前站队员 </td><td> 登顶海拔6168米</td></tr>
 <tr><td>2007年7月3日-8月5日  </td><td>  清华大学西藏宁金抗沙峰登山队 </td><td> 技术指导、前站 </td><td> 登至海拔7130米</td></tr>
 <tr><td>2010年1月27日-2月6日  </td><td> 清华大学四川玄武峰登山队        </td><td>    技术指导 </td><td> 登顶海拔5383米</td></tr>
 <tr><td>2010年7月5日-7月23日  </td><td> 两岸清华大学青海各拉丹冬峰登山队  </td><td>  技术指导 </td><td> 登顶海拔6621米</td></tr>
</table>

<hr id="13">
<h3 >毕业后的攀登活动</h3>
<table class="events" >
<tr><td class="t1">2006年5月     </td><td>        四川雀儿山侦测式攀登</td></tr>
<tr><td>2007年6月22日-7月2日 </td><td> 青海玉珠峰，港大/清华/北大联合攀登，登至5800米</td></tr>
<tr><td>2007年秋      </td><td>        参加国家登山队珠峰火炬活动集训</td></tr>
<tr><td>2008年2月       </td><td>      西藏启孜峰侧峰，登顶海拔5900米</td></tr>
<tr><td>2008年5月8日    </td><td>      西藏珠穆朗玛峰，北京奥运圣火珠峰传递，登顶海拔8844米</td></tr>
<tr><td>2008年8月       </td><td>      青海岗什卡峰，登顶海拔5250米</td></tr>
<tr><td>2008年10月     </td><td>       四川田海子山，单人探路，登至海拔5200米</td></tr>
<tr><td>2008年12月     </td><td>       四川四姑娘山幺妹峰，中央南壁路线，登至海拔5600米</td></tr>
<tr><td>2008年12月25日  </td><td>      四川半脊峰，单日13小时39分钟，登顶海拔5430米</td></tr>
<tr><td>2009年2月15-19日  </td><td>    四川四姑娘山幺妹峰南壁中央路线，登至海拔5950米</td></tr>
<tr><td>2009年5月2日-11日  </td><td>   四川雪宝顶，SOHU登山队教练，登顶海拔5588米</td></tr>
<tr><td>2009年7月5日-8日   </td><td>   四川阿妣峰，登至海拔5550米</td></tr>
<tr><td>2009年10月4日     </td><td>    西藏希夏邦马中央峰，登顶海拔8012米</td></tr>
<tr><td>2009年11月23-27日  </td><td>   四川四姑娘山幺妹峰，于25日18点10分登顶了幺妹峰南尖顶，开辟中央南壁“自由之魂”（The Free Spirits）新路线，登顶海拔6247米</td></tr>
<tr><td>2010年1月11日     </td><td>    四川尖山子，单日solo，登顶海拔5472米</td></tr>
<tr><td>2010年1月        </td><td>     四川迟布峰，登至海拔5000米</td></tr>
<tr><td>2010年2月8-11日    </td><td>   四川五色山南壁，开辟“另一天”（Another Day）新路线，登顶海拔5430米</td></tr>
<tr><td>2010年5月      </td><td>       西藏东雄峰，开辟“礼物”（Present）新路线，登顶海拔6095米</td></tr>
<tr><td>2010年8月      </td><td>       新疆博格达东侧卫峰</td></tr>
<tr><td>2010年8月18日  </td><td>       四川阿妣峰，单日登顶，开辟阿妣峰西壁“颤抖”（Shivering）新路线，登顶海拔5694米</td></tr>
<tr><td>2010年10月     </td><td>       云南哈巴雪山，登顶海拔5396米</td></tr>
<tr><td>2010年10月     </td><td>       云南玉龙雪山</td></tr>
<tr><td>2010年11月     </td><td>       四川爱德加峰北壁</td></tr>
<tr><td>2010年11月     </td><td>       四川白海子山，登至海拔5350米</td></tr>
<tr><td>2010年12月     </td><td>       西藏宁金抗沙峰，西南-南-东南路线，登顶海拔7206米</td></tr>
<tr><td>2011年1月29-31日  </td><td>    四川阿妣峰，登至海拔5500米</td></tr>
<tr><td>2011年3月      </td><td>       四川嘉子/勒多曼因，登至5200米</td></tr>
<tr><td>2011年5月     </td><td>        西藏纳木那尼III峰及古纳峰侦察攀登</td></tr>
<tr><td>2011年7月     </td><td>        新疆西天山却勒博斯峰，首登4944峰，后攀登却勒博斯西北卫峰，登顶海拔5863米</td></tr>
<tr><td>2011年10月1日-7日  </td><td>   四川贡嘎山域勒多曼因峰，开辟北壁“纪念陈家慧”（Remember Chris）新路线，登顶海拔6112米</td></tr>
<tr><td>2011年10月18日-24日 </td><td>  四川贡嘎山域嘉子峰，开辟西壁“自由之舞”（Liberal Dance）新路线，海拔6540米</td></tr>
<tr><td>2011年10月30日-31日 </td><td>  四川小贡嘎山，开辟“爽”（Thrill）新路线，登顶海拔6027米</td></tr>
<tr><td>2012年1月         </td><td>    四川九架峰Solo，实登弯月顶北脊，登至海拔5050米</td></tr>
<tr><td>2012年3月25日-4月5日 </td><td> 从广西阳朔港至广东深圳历时12天单人划艇，全程614公里</td></tr>
<tr><td>2012年7月9日     </td><td>     新疆西天山却勒博斯峰，登顶却勒博斯峰附近未名峰。登顶海拔5900米。7月9日18时15分，下撤途中至海拔4400米坠入暗冰裂缝，后经队友全力救援无效后不幸罹难</td></tr>
</table>

<hr id="14">
<h3>攀登获奖情况</h3>
<table class="events" >
<tr><td class="t2">2008年        </td><td>          国家体育运动荣誉奖章</td></tr>
<tr><td>2009年        </td><td>          年度中国户外金犀牛奖最佳攀登奖</td></tr>
<tr><td>2009年        </td><td>          年度亚洲金冰镐奖最佳技术攀登奖提名</td></tr>
<tr><td>2010年        </td><td>          上海世博园金冰镐象征奖</td></tr>
<tr><td>2010年        </td><td>          年度中国户外金犀牛奖最佳攀登奖</td></tr>
<tr><td>2011年        </td><td>          嘉子峰西壁新路线登顶获得年度中国户外金犀牛奖最佳攀登奖</td></tr>
<tr><td>2012年        </td><td>          北美重量级登山奖项Mugs Stump</td></tr>
</table>
<hr id="2">
<h2>翻译作品集</h2>
<div class="book">
<span class="img"><img src="/static/book/1.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">猫头鹰的叫声</li>
<li>卡尔·希尔森 著</li>
<li>严冬冬 译 </li>
<li>吉林文史出版社 </li>
<li>2007-2</li>
</ul>
</span>
</div>

<div class="book">
<span class="img"><img src="/static/book/2.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">这书能让你戒烟</li>
<li>亚伦·卡尔 </li>
<li> 严冬冬 译 </li>
<li> 吉林文史出版社 </li>
<li> 2008</li>
</ul>
</span>
</div>


<div class="book">
<span class="img"><img src="/static/book/3.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">心宽一寸 病退一丈</li>
<li>西瓦妮·古德曼 </li>
<li> 严冬冬 译 </li>
<li> 吉林文史出版社 </li>
<li> 2008-1</li>
</ul>
</span>
</div>


<div class="book">
<span class="img"><img src="/static/book/4.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">水是最好的药Ⅲ</li>
<li>[美]F·巴特曼</li> 
 <li>严冬冬 译 </li>
 <li>吉林文史出版社</li> 
 <li>2008-1
</ul>
</span>
</div>


<div class="book">
<span class="img"><img src="/static/book/5.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">身体自愈的秘密</li>
<li>[美]倪毛信</li>
 <li> 严冬冬 译</li>
<li>  吉林文史出版社 </li>
<li> 2008-10</li>
</ul>
</span>
</div>



<div class="book">
<span class="img"><img src="/static/book/6.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">三杯茶</li>
<li>[美]葛瑞格·摩顿森</li>
<li>  黄玉华/严冬冬 译  </li>
<li>吉林文史出版社</li>
<li>  2009-1</li>
</ul>
</span>
</div>



<div class="book">
<span class="img"><img src="/static/book/24.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">少有人走的路III : 心灵地图</li>
<li>托马斯·摩尔</li>
 <li> 严冬冬 译</li>
<li>  吉林文史出版社 </li>
<li> 2009-4</li>
</ul>
</span>
</div>





<div class="book">
<span class="img"><img src="/static/book/7.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">像女人一样行动 像男人一样思考</li>
<li>史蒂夫·哈维  </li>
<li>严冬冬 译 </li>
<li> 吉林文史出版社</li>
<li>  2009-7</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/8.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">极限登山</li>
<li>德怀特(Mark F.Twight) </li>
<li> 严冬冬 译</li>
<li>  科学出版社 </li>
<li> 2009-8</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/9.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">365天不抱怨的智慧</li>
<li>[美]派昆 </li>
<li> 严冬冬 译 </li>
<li> 吉林出版集团</li>
<li>  2009-10-1</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/10.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">接纳不完美的自己</li>
<li>黛比·福特(Ford.D.) </li>
<li> 严冬冬 译 </li>
<li> 吉林文史出版社 </li>
<li> 2009-11-1</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/11.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">登山手册</li>
<li>克雷格·康纳利</li>
<li>  严冬冬 译 </li>
<li> 人民邮电出版社</li>
<li>  2010-1</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/12.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">黄金法则</li>
<li>拿破仑·希尔</li>
<li>  严冬冬 译</li>
<li>  中信出版社 </li>
<li> 2010-5</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/25.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">催眠术圣经</li>
<li>[美]奥蒙德·麦吉尔</li>
<li>  严冬冬 译 </li>
<li> 2010-8</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/13.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">完全攀登指南</li>
<li>[英]希尔  </li>
<li>龚海宁/蒙娃 译  严冬冬 审校</li>
<li>  人民邮电出版社 </li>
<li> 2010-8</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/14.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">国际登山技术手册</li>
<li>皮特·希尔</li>
<li>  严冬冬 译</li>
<li>  2010-8</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/15.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">放养孩子</li>
<li>[美]勒诺·斯科纳兹 </li>
<li> 严冬冬 译 </li>
<li> 中信出版社 </li>
<li> 2010-11-02</li>
</ul>
</span>
</div>






<div class="book">
<span class="img"><img src="/static/book/16.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">失落的秘密</li>
<li>[美]拿破仑·希尔 </li>
<li> 祝东枚/严冬冬 译</li>
<li>  中信出版社</li> 
<li> 2011-3</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/17.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">与狼共奔的女人</li>
<li>克拉利萨·品卡罗·埃斯蒂斯  </li>
<li>严冬冬 译 </li>
<li> 2011-6</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/18.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">少有人走的路：心智成熟的旅程</li>
<li>[美]M·斯科特·派克 </li>
<li> 于海生/严冬冬 译</li>
<li>  吉林文史出版社</li>
 <li> 2011-6</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/19.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">少有人走的路4：心灵地图</li>
<li>托马斯·摩尔 </li>
<li> 严冬冬 译  </li>
<li>吉林文史出版社</li>
<li>  2011-6</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/20.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">中国黑室：鲜为人知的中日谍报战</li>
<li>赫伯特·雅德利  </li>
<li>严冬冬 译  </li>
<li>吉林文史出版社</li>
<li>  2011-9</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/21.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">登山手册</li>
<li>克雷格·康纳利 </li>
<li> 严冬冬 译 </li>
<li> 2012-1</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/22.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">社会动物：爱、性格和成就的潜在根源</li>
<li>[美]布鲁克斯 </li>
<li>佘引/严冬冬 译 </li>
<li>  中信出版社 </li>
<li>  2012-5</li>
</ul>
</span>
</div>




<div class="book">
<span class="img"><img src="/static/book/23.jpg" ></span>
<span class="title">
<ul class="book">
<li class="title">随机生存的智慧：黑天鹅语录</li>
<li>[美]纳西姆·塔勒布 </li>
<li> 严冬冬 译</li>
<li>  中信出版社</li>
<li>  2012-6-20</li>
</ul>
</span>
</div>


<div class="bottom">
<hr id="3">
<h2 >遇难</h2>
<p>2012年7月9日，严冬冬攀登新疆西天山却勒博斯峰，登顶却勒博斯峰附近未名峰，登顶海拔5900米。7月9日18时15分，下撤途中至海拔4400米坠入暗冰裂缝，后经队友全力救援无效后不幸罹难。</p>
</div>
