$def with (articles, article)

        <div class="menu">
            <ul>
                <li><a href="/" >首页</a></li>
                <li><a class="selected" href="/events" >生平年表</a></li>
                <li><a href="/articles" >冬冬文集</a></li>
                <li><a href="/photos" >冬冬照片</a></li>
                <li><a href="/vedios" >冬冬视频</a></li>
                <li><a href="/memories" >追忆文章</a></li>
                <li><a href="/words" >友人留言</a></li>
            </ul>
        </div>

        <div class="head">
            <h1>严冬冬</h1>
            <h2>1984.11.16 - 2012.07.09</h2>
            <h2>自由登山者，自由职业翻译</h2>
        </div>

<hr />


<div class="intro">
<span>目录</span>
<hr>
<ul>
$for a in articles:
    $if a.id==article.id:
        <li><a class="active" href="/event/$a.id">$a.title</a></li>
    $else:
        <li><a href="/event/$a.id">$a.title</a></li>
</ul>
</div>



<div class="content">
$if session.get('isAdmin','1'):
    <div class="m20">
        <a class="button" href="/article/edit/$article.id" >修改文章</a>
    </div>

<div class="article">
    <ul class="word">
        <li><h3 class="title">
            $article.title
            </h3>
        </li>
        $if article.time:
            <li class="gray">发表时间：$article.time.date()</li>
        $if article.source:
            <li class="gray">原文链接：<a href="$article.source">$article.source</a></li>
        <li class="content">$:article.content_to_html()</li>
    </ul>
</div>

</div>
