$def with (vedio, catalogs)


<div class="menu">
    <ul>
        <li><a href="/" >首页</a></li>
        <li><a href="/events" >生平年表</a></li>
        <li><a href="/articles" >冬冬文集</a></li>
        <li><a href="/photos" >冬冬照片</a></li>
        <li><a class="selected" href="/vedios" >冬冬视频</a></li>
        <li><a href="/memories" >追忆文章</a></li>
        <li><a href="/words" >友人留言</a></li>
    </ul>
</div>

<div class="head">
    <h1>严冬冬</h1>
    <h2>1984.11.16 - 2012.07.09</h2>
    <h2>自由登山者，自由职业翻译</h2>
</div>

<hr />

<div class="word">
<form action="/vedio/edit/$vedio.id" method="POST">
    <table class="words">
    <tr>
        <th>ID：</th>
        <td><input type="text" name="id" value="$vedio.id"/></td>
    </tr>
    <tr>
        <th>视频标题：</th>
        <td><input type="text" name="title" value="$vedio.title" /></td>
    </tr>
    <tr>
        <th>视频链接：</th>
        <td><input type="text" name="url" value="$vedio.url" /></td>
    </tr>

    <tr>
        <th>分类：</th>
        <td>
            <select name="catalog" >
                $for ct in catalogs:
                    $if ct==vedio.catalog:
                        <option value="$ct.name" selected="selected">$ct.name</option>
                    $else:
                        <option value="$ct.name">$ct.name</option>
            </select>
        </td>
    </tr>


    <tr>
        <th></th>
        <td><input class="submit" type="submit" name="submit" value="修改视频" />
        <input class="submit" type="submit" name="submit" value="删除视频" /></td>
    </tr> 
    </table>
</form>
</div>
